* {
  color: black;
  background: transparent;
  font-size: 15pt;
  font-family: Garamond, serif;
}

@page {
  margin: 0.5in;
}

@media print {
  #logo img {
    display:none;
  }
  #logo:after {
    content:url(logoblack-white.svg);
  }
}

nav {
  display: none;
}

#education {
  margin-bottom: 0;
  padding: 3.75pt;
}

#experience {
  padding: 3.75pt;
}

h2 {
  text-transform: uppercase;
  color: black;
}

a {
  text-decoration: none;
}

footer {
  clear: both;
}

img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
