body {
  width: 960px;
  margin: 0 auto 0 auto;
  font-family: "Avenir", Helvetica, sans-serif;
}

img {
  float: left;
  border-right: 2px solid rgb(157,187,196);
}

header > p.address {
  padding: 10px;
  float: left;
  font-size: 35px;
  color: rgb(157,187,196);
  border-bottom: 1px solid rgb(157,187,196);
  border-top: 1px solid rgb(157,187,196);
  position: relative;
  bottom: 80px;
  width: 600px;
}

header > p.designer {
  float: left;
  font-size: 40px;
  padding: 10px;
  margin-top: 0;
}

header > p.phone-email {
  float: left;
  font-size: 28px;
  position: relative;
  bottom: 130px;
  left: 312px;
}

nav {
  clear: both;
  background-color: rgb(157,187,196);
  position: relative;
  bottom: 140px;
  font-size: 14px;
}

.hide {
  display: none;
}

li.nav {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.navbar {
  background-color: white;
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  right: 30px;
}

#education, #experience, #skills {
  position: relative;
  bottom: 170px;
}

#education {
  width: 280px;
  float: left;
  margin: 10px;
  padding: 5px;
  border-right: 1px solid rgb(157,187,196);
}

#experience {
  width: 500px;
  margin: 10px;
  float: left;
  padding: 5px;
  padding-top: -25px;
}

h2 {
  text-transform: uppercase;
  color: rgb(157,187,196);
}

ul {
  list-style-image: url(img/arrow-right.svg);
}

footer {
  clear: both;
}
